<header>
    <h1>{{title}}</h1>

    <a href="/">Weather</a>
    <a href="https://dharm.netlify.app">About</a>
    <a href="/faq">FAQ</a>
    <a href="https://dharmpatel.w3spaces.com/contact.html">Help</a>
</header>
<hr>